#about {
	text-align: center;
	height: calc(88% + 1.5em);
	min-height: 32em;

	#profile {
		margin-top: 15vh;
		margin-bottom: 10vh;
		height: 12em;
		border-radius: 50%;
	}

	#hello {
		padding-top: 0;
		padding-bottom: 0.1em;
		text-align: center;
	}

	#intro {
		white-space: nowrap;
	}

	#im {
		padding-top: 0.15em;
		padding-right: 0.2em;
		display: inline-block;
	}

	#name {
		display: inline-block;
		position: relative;
		top: 0.3em;
		width: 12em;
		height: auto;
	}
}

@media only screen and (min-width: 768px) {
	#about {
		#profile {
			margin-top: 20vh;
			margin-bottom: 8vh;
		}

		#greeting {
			white-space: nowrap;
		}

		#greeting > * {
			display: inline-block;
		}

		#intro {
			padding-left: 1em;
		}

		#name {
			width: 25em;
			top: 0.8em;
			margin-left: -0.5em;
		}
	}
}

@media only screen and (min-height: 720px) {
	#about {
		#profile {
			margin-top: 24vh;
		}
	}
}

@media only screen and (min-height: 1366px) {
	#about {
		#profile {
			margin-top: 32vh;
		}
	}
}
