#about {
	text-align: center;
	height: calc(88% + 1.5em);

	#profile {
		margin-top: 15vh;
		margin-bottom: 10vh;
		height: 40%;
		border-radius: 50%;
	}

	#hello {
		padding-top: 0;
		padding-bottom: 0.1em;
	}

	#im {
		padding-top: 0.15em;
		padding-right: 0.2em;
		display: inline-block;
	}

	#name {
		display: inline-block;
		position: relative;
		top: 0.3em;
		width: 60%;
		height: auto;
	}
}

@media only screen and (min-width: 650px) {
	#about {
		#profile {
			margin-top: 12vh;
			margin-bottom: 3em;
		}

		#greeting {
			white-space: nowrap;
		}

		#greeting > * {
			display: inline-block;
		}

		#intro {
			padding-left: 1em;
		}

		#name {
			width: 25em;
			top: 0.8em;
		}
	}
}