#contact {
	height: unset;
	background-color: #f5f5f5;

	#contact-icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-height: $container-content;
		margin-top: 1.2em;
		padding-bottom: 2.4em;

		a {
			display: inline-block;
			text-align: center;
			margin: 0 10%;
		}
	}

	svg {
		width: 100%;
		fill: $greyscale-color;
	}

	svg:hover {
		fill: #a5a5a5;
	}

	a {
		color: $greyscale-color;
	}

	h1 {
		padding-bottom: 0;
	}

	p {
		color: $greyscale-color;
		font-size: 0.8em;
	}

	#credits, #credits * {
		color: #c0c0c0;
	}
}

@media only screen and (min-width: 430px) {
	#contact {
		#contact-icons {
			justify-content: flex-start;
			margin-left: -0.3em;
			margin-top: 1.6em;
		}

		span {
			width: 4.2em;
		}


	}
}