nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo {
        width: 20%;
    }

    button {
        line-height: 3;
    }
}

section {
    display: block;
    text-align: center;
    height: 70vh;

    h1 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 5rem;
    }
}