$container-margin: 1.5em;
$container-content: calc(100% - 7rem);

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import 'nav';
@import 'section';
@import 'card';

html {
    height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    height: 100%;
}

h1 {
	margin: 0;
	padding: 0.67em 0;

	a {
		text-decoration: none;
		color: initial;
	}
}

.container {
	height: 100%;
    margin: 0 $container-margin;
}

#about {
	text-align: center;
	height: calc(88% + 1.5em);

	#profile {
		margin-top: 30%;
		margin-bottom: 20%;
		height: 40%;
		border-radius: 50%;
	}

	#hello {
		padding-top: 0;
		padding-bottom: 0.1em;
	}

	#im {
		padding-top: 0.15em;
		padding-right: 0.2em;
		display: inline-block;
	}

	#name {
		display: inline-block;
		position: relative;
		top: 0.3em;
		width: 60%;
		height: auto;
	}
}

#blog {
	height: 70%;
	background-color: aquamarine;

	.container {
		height: initial;
	}
}

#calendar {
	iframe {
		height: $container-content;
		width: 100%;
	}
}

#contact {
	height: 40%;
	background-color: lightgray;
}