@import 'nav';
@import 'section';
@import 'card';

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1 {
	margin: 0;
	padding: 0.83em 0;
}

.container {
	height: inherit;
    margin: 0 1.5em 1em 1.5em;
}

#about {
	text-align: center;

	#profile {
		margin-top: 30%;
		margin-bottom: 20%;
		height: 40%;
		border-radius: 50%;
	}

	#hello {
		padding-top: 0;
		padding-bottom: 0.1em;
	}

	#im {
		padding-top: 0.15em;
		padding-right: 0.2em;
		display: inline-block;
	}

	#name {
		display: inline-block;
		width: 60%;
		height: auto;
	}
}

#blog {
	background-color: aquamarine;
}

#contact {
	height: 40%;
	background-color: lightgray;
}